In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [3]:
df1

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

In [4]:
df2

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
...,...,...,...,...,...,...,...
884257,884257,2003-01-01 00:01:00,Wednesday,MISSION,2600 Block of BRYANT ST,-122.408983,37.751987
884258,884258,2003-01-01 00:01:00,Wednesday,NORTHERN,1900 Block of WASHINGTON ST,-122.425342,37.792681
884259,884259,2003-01-01 00:01:00,Wednesday,INGLESIDE,5500 Block of MISSION ST,-122.445418,37.712075
884260,884260,2003-01-01 00:01:00,Wednesday,BAYVIEW,1500 Block of HUDSON AV,-122.387394,37.739479
884261,884261,2003-01-01 00:01:00,Wednesday,TARAVAL,1500 Block of SLOAT BL,-122.489714,37.733950

In [5]:
df1.Category.value_counts()

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

In [6]:
df1.Category.nunique()

39

In [7]:
df1.isnull().sum()

Dates         0
Category      0
Descript      0
DayOfWeek     0
PdDistrict    0
Resolution    0
Address       0
X             0
Y             0
dtype: int64

In [8]:
df1['Dates']=pd.to_datetime(df1['Dates'])
df1['YÄ±l']=df1['Dates'].dt.year
df1['Ay']=df1['Dates'].dt.month
df1['Gun']=df1['Dates'].dt.dayofweek
df1['Saat']=df1['Dates'].dt.hour
df1['Dakika']=df1['Dates'].dt.minute

In [9]:
df1.drop('Dates',axis=1,inplace=True)

In [10]:
df1['PdDistrict'] = df1['PdDistrict'].map({'SOUTHERN':10,'MISSION':9,'NORTHERN':8,'BAYVIEW':7, 'CENTRAL':6, 'TENDERLOIN':5, 'INGLESIDE':4, 'TARAVAL':3, 'PARK':2,'RICHMOND':1 })

In [11]:
df1['PdDistrict'] = df1['PdDistrict'].astype(int)

In [12]:
df1.drop('Resolution',axis=1,inplace=True)

In [13]:
df1.drop('Address',axis=1,inplace=True)

In [14]:
df1.drop('Descript',axis=1,inplace=True)

In [15]:
df1

,Category,DayOfWeek,PdDistrict,X,Y,YÄ±l,Ay,Gun,Saat,Dakika
0,WARRANTS,Wednesday,8,-122.425892,37.774599,2015,5,2,23,53
1,OTHER OFFENSES,Wednesday,8,-122.425892,37.774599,2015,5,2,23,53
2,OTHER OFFENSES,Wednesday,8,-122.424363,37.800414,2015,5,2,23,33
3,LARCENY/THEFT,Wednesday,8,-122.426995,37.800873,2015,5,2,23,30
4,LARCENY/THEFT,Wednesday,2,-122.438738,37.771541,2015,5,2,23,30
...,...,...,...,...,...,...,...,...,...,...
878044,ROBBERY,Monday,3,-122.459033,37.714056,2003,1,0,0,15
878045,LARCENY/THEFT,Monday,4,-122.447364,37.731948,2003,1,0,0,1
878046,LARCENY/THEFT,Monday,10,-122.403390,37.780266,2003,1,0,0,1
878047,VANDALISM,Monday,10,-122.390531,37.780607,2003,1,0,0,1
878048,FORGERY/COUNTERFEITING,Monday,7,-122.394926,37.738212,2003,1,0,0,1

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Category    878049 non-null  object
 1   DayOfWeek   878049 non-null  object
 2   PdDistrict  878049 non-null  int32
 3   X           878049 non-null  float64
 4   Y           878049 non-null  float64
 5   YÄ±l         878049 non-null  int64
 6   Ay          878049 non-null  int64
 7   Gun         878049 non-null  int64
 8   Saat        878049 non-null  int64
 9   Dakika      878049 non-null  int64
dtypes: float64(2), int32(1), int64(5), object(2)
memory usage: 63.6+ MB

In [17]:
x=df1.drop('Category',axis=1)
y=pd.get_dummies(df1['Category'])

In [18]:
x=pd.get_dummies(x)

In [19]:
x

,PdDistrict,X,Y,YÄ±l,Ay,Gun,Saat,Dakika,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,8,-122.425892,37.774599,2015,5,2,23,53,0,0,0,0,0,0,1
1,8,-122.425892,37.774599,2015,5,2,23,53,0,0,0,0,0,0,1
2,8,-122.424363,37.800414,2015,5,2,23,33,0,0,0,0,0,0,1
3,8,-122.426995,37.800873,2015,5,2,23,30,0,0,0,0,0,0,1
4,2,-122.438738,37.771541,2015,5,2,23,30,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878044,3,-122.459033,37.714056,2003,1,0,0,15,0,1,0,0,0,0,0
878045,4,-122.447364,37.731948,2003,1,0,0,1,0,1,0,0,0,0,0
878046,10,-122.403390,37.780266,2003,1,0,0,1,0,1,0,0,0,0,0
878047,10,-122.390531,37.780607,2003,1,0,0,1,0,1,0,0,0,0,0
878048,7,-122.394926,37.738212,2003,1,0,0,1,0,1,0,0,0,0,0

In [20]:
df2['Dates']=pd.to_datetime(df2['Dates'])
df2['YÄ±l']=df2['Dates'].dt.year
df2['Ay']=df2['Dates'].dt.month
df2['Gun']=df2['Dates'].dt.dayofweek
df2['Saat']=df2['Dates'].dt.hour
df2['Dakika']=df2['Dates'].dt.minute

In [21]:
df2.drop('Dates',axis=1,inplace=True)

In [22]:
df2['PdDistrict'] = df2['PdDistrict'].map({'SOUTHERN':10,'MISSION':9,'NORTHERN':8,'BAYVIEW':7, 'CENTRAL':6, 'TENDERLOIN':5, 'INGLESIDE':4, 'TARAVAL':3, 'PARK':2,'RICHMOND':1 })

In [23]:
df2['PdDistrict'] = df2['PdDistrict'].astype(int)

In [24]:
df2.drop('Address',axis=1,inplace=True)

In [25]:
h=df2['Id']

In [26]:
df2.drop('Id',axis=1,inplace=True)

In [27]:
df2=pd.get_dummies(df2)

In [28]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation
from tensorflow.keras.optimizers import Adam

In [29]:
model=Sequential()
model.add(Dense(256,input_shape=(x.shape[1],)))
model.add(Activation('relu'))
model.add(Dense(128,kernel_initializer='uniform',activation='relu'))
model.add(Dense(64,kernel_initializer='uniform',activation='relu'))
model.add(Dense(39,kernel_initializer='uniform',activation='softmax'))

In [30]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy']) # 2 cevapli classification iÃ§in binary_crossentropy
# 3+ cevaplÄ± classifaction iÃ§in category_crossentropy

In [31]:
model.fit(x,y, epochs=50,batch_size=300,verbose=1)

Epoch 1/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.6430 - accuracy: 0.2124
Epoch 2/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5897 - accuracy: 0.2307
Epoch 3/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5732 - accuracy: 0.2341
Epoch 4/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5668 - accuracy: 0.2352
Epoch 5/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5590 - accuracy: 0.2376
Epoch 6/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5567 - accuracy: 0.2382
Epoch 7/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5545 - accuracy: 0.2386
Epoch 8/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5521 - accuracy: 0.2396
Epoch 9/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5507 - accuracy: 0.2400
Epoch 10/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5493 - accuracy: 0.2403
Epoch 11/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5514 - accuracy: 0.2382
Epoch 12/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5526 - accuracy: 0.2374
Epoch 13/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5570 - accuracy: 0.2339
Epoch 14/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5527 - accuracy: 0.2359
Epoch 15/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5512 - accuracy: 0.2369
Epoch 16/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5497 - accuracy: 0.2374
Epoch 17/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5489 - accuracy: 0.2379
Epoch 18/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5487 - accuracy: 0.2378
Epoch 19/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5461 - accuracy: 0.2393
Epoch 20/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5454 - accuracy: 0.2392
Epoch 21/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5445 - accuracy: 0.2400
Epoch 22/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5440 - accuracy: 0.2401
Epoch 23/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5433 - accuracy: 0.2403
Epoch 24/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5431 - accuracy: 0.2401
Epoch 25/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5422 - accuracy: 0.2407
Epoch 26/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5421 - accuracy: 0.2406
Epoch 27/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5413 - accuracy: 0.2406
Epoch 28/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5411 - accuracy: 0.2404
Epoch 29/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5395 - accuracy: 0.2408
Epoch 30/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5392 - accuracy: 0.2406
Epoch 31/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5390 - accuracy: 0.2409
Epoch 32/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5386 - accuracy: 0.2407
Epoch 33/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5391 - accuracy: 0.2405
Epoch 34/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5375 - accuracy: 0.2412
Epoch 35/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5373 - accuracy: 0.2412
Epoch 36/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5378 - accuracy: 0.2411
Epoch 37/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5374 - accuracy: 0.2410
Epoch 38/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5376 - accuracy: 0.2410
Epoch 39/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5363 - accuracy: 0.2414
Epoch 40/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5378 - accuracy: 0.2411
Epoch 41/50
2927/2927 [==============================] - 5s 2ms/step - loss: 2.5369 - accuracy: 0.2412
Epoch 42/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5367 - accuracy: 0.2412
Epoch 43/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5356 - accuracy: 0.2418
Epoch 44/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5359 - accuracy: 0.2415
Epoch 45/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5394 - accuracy: 0.2397
Epoch 46/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5476 - accuracy: 0.2350
Epoch 47/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5407 - accuracy: 0.2392
Epoch 48/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5381 - accuracy: 0.2400
Epoch 49/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5373 - accuracy: 0.2405
Epoch 50/50
2927/2927 [==============================] - 6s 2ms/step - loss: 2.5370 - accuracy: 0.2407

In [34]:
tahmin=model.predict(df2)

27634/27634 [==============================] - 19s 698us/step

In [35]:
tahmin

array([[2.59829988e-03, 1.08271606e-01, 5.36438565e-05, ...,
        1.87305398e-02, 8.33861455e-02, 2.36025173e-02],
       [2.87097739e-03, 1.09182969e-01, 5.15505963e-05, ...,
        2.20010318e-02, 7.73517340e-02, 2.31254399e-02],
       [2.89226230e-03, 1.06942892e-01, 6.57607234e-05, ...,
        2.24710014e-02, 7.54926875e-02, 2.22468469e-02],
       ...,
       [8.66865157e-04, 6.49655461e-02, 4.38675517e-03, ...,
        5.39821163e-02, 9.21695586e-03, 3.91423143e-03],
       [9.54888586e-04, 6.45795912e-02, 5.02488529e-03, ...,
        5.20900749e-02, 1.07889045e-02, 4.04322566e-03],
       [6.87453954e-04, 6.37255013e-02, 3.61619284e-03, ...,
        5.01390956e-02, 8.69654119e-03, 3.56726255e-03]], dtype=float32)

In [37]:
df3=pd.read_csv('sampleSubmission.csv')

In [39]:
df3.drop('Id',axis=1,inplace=True)

In [40]:
column=list(df3.columns)

In [41]:
df2['Id']=h
df2[column]=tahmin

In [43]:
df2[column]=df2[column].astype(int)

In [45]:
a=df2[column]

In [46]:
a['Id']=df2['Id']

C:\Users\bilal\AppData\Local\Temp\ipykernel_17128\475917951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['Id']=df2['Id']

In [47]:
a

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS,Id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884257,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,884257
884258,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,884258
884259,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,884259
884260,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,884260
884261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,884261

In [48]:
a.to_csv('Crime.csv',index=False)