In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier()
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
gas=GaussianNB()
ber=BernoulliNB()
from xgboost import XGBClassifier
xgbc=XGBClassifier()

In [2]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [3]:
df1.shape,df2.shape

((8693, 14), (4277, 13))

In [4]:
df=df1.append(df2)

C:\Users\bilal\AppData\Local\Temp\ipykernel_19676\2456558213.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2)

In [5]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12970 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12682 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Cabin         12671 non-null  object
 4   Destination   12696 non-null  object
 5   Age           12700 non-null  float64
 6   VIP           12674 non-null  object
 7   RoomService   12707 non-null  float64
 8   FoodCourt     12681 non-null  float64
 9   ShoppingMall  12664 non-null  float64
 10  Spa           12686 non-null  float64
 11  VRDeck        12702 non-null  float64
 12  Name          12676 non-null  object
 13  Transported   8693 non-null   object
dtypes: float64(6), object(8)
memory usage: 1.5+ MB

In [7]:
df.Transported.value_counts()

True     4378
False    4315
Name: Transported, dtype: int64

In [8]:
df.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [9]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['VIP'].fillna('bos',inplace=True)
df['RoomService'].fillna(df['RoomService'].mean(),inplace=True)
df['Destination'].fillna('bos',inplace=True)
df['HomePlanet'].fillna('bos',inplace=True)
df['CryoSleep'].fillna('bos',inplace=True)
df['FoodCourt'].fillna(df['FoodCourt'].median(),inplace=True)
df['ShoppingMall'].fillna(df['ShoppingMall'].median(),inplace=True)
df['Spa'].fillna(df['Spa'].median(),inplace=True)
df['VRDeck'].fillna(df['VRDeck'].median(),inplace=True)

In [10]:
df.drop(['PassengerId','Cabin','Name'],axis=1,inplace=True)

In [11]:
df['Transported'].replace('True','1')
df['Transported'].replace('False','0')

0       False
1        True
2       False
3       False
4        True
        ...
4272      NaN
4273      NaN
4274      NaN
4275      NaN
4276      NaN
Name: Transported, Length: 12970, dtype: object

In [12]:
df['Transported']=df['Transported'].astype('float')
df['Age']=df['Age'].astype('float')
df['RoomService']=df['RoomService'].astype('float')
df['VRDeck']=df['VRDeck'].astype('float')
df['Spa']=df['Spa'].astype('float')
df['ShoppingMall']=df['ShoppingMall'].astype('float')
df['FoodCourt']=df['FoodCourt'].astype('float')

In [13]:
df.isnull().sum()

HomePlanet         0
CryoSleep          0
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Transported     4277
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12970 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    12970 non-null  object
 1   CryoSleep     12970 non-null  object
 2   Destination   12970 non-null  object
 3   Age           12970 non-null  float64
 4   VIP           12970 non-null  object
 5   RoomService   12970 non-null  float64
 6   FoodCourt     12970 non-null  float64
 7   ShoppingMall  12970 non-null  float64
 8   Spa           12970 non-null  float64
 9   VRDeck        12970 non-null  float64
 10  Transported   8693 non-null   float64
dtypes: float64(7), object(4)
memory usage: 1.2+ MB

In [15]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0,1.0
2,Europa,False,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,0.0
3,Europa,False,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,0.0
4,Earth,False,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0,NaN
4273,Earth,False,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0,NaN
4274,Mars,True,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0,NaN
4275,Europa,False,bos,28.771969,False,0.0,2680.0,0.0,0.0,523.0,NaN
4276,Earth,True,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0,NaN

In [16]:
df_dummies=pd.get_dummies(df,drop_first=True)

In [17]:
df_train=df_dummies[:8693]
df_test=df_dummies[8693:]

In [18]:
y=df_train['Transported']
x=df_train.drop('Transported',axis=1)

In [19]:
algorithms=[gas,ber,k,log,gbc,r,d,xgbc]
names=['GaussianNB','BernoulliNB','KNearest','Logistic','GradientBoosting','RandomForest','Decision','XGBC']

In [20]:
def algo_test(X,y,algorithms=algorithms , names=names):
    for i in range(len(algorithms)):
        algorithms[i]=algorithms[i].fit(X, y)
    accuracy=[]
    precision=[]
    recall=[]
    f1=[]
    for i in range(len(algorithms)):
        accuracy.append(accuracy_score(y,algorithms[i].predict(X)))
        precision.append(precision_score(y,algorithms[i].predict(X)))
        recall.append(recall_score(y,algorithms[i].predict(X)))
        f1.append(f1_score(y,algorithms[i].predict(X)))
    metrics=pd.DataFrame(columns=['Accuracy','Precision','Recall','F1'],index=names)
    metrics['Accuracy']=accuracy
    metrics['Precision']=precision
    metrics['Recall']=recall
    metrics['F1']=f1
    return metrics.sort_values('F1',ascending=False)

In [21]:
algo_test(x,y)

C:\Users\bilal\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                  Accuracy  Precision    Recall        F1
RandomForest      0.936846   0.907427  0.973961  0.939517
Decision          0.936846   0.912341  0.967565  0.939142
XGBC              0.876682   0.854265  0.910461  0.881468
GradientBoosting  0.807316   0.785911  0.848561  0.816035
KNearest          0.816979   0.828269  0.803106  0.815493
Logistic          0.789256   0.784533  0.801736  0.793041
GaussianNB        0.702864   0.643531  0.919141  0.757031
BernoulliNB       0.737605   0.775414  0.674280  0.721319

In [22]:
del df_test['Transported']
tahmin=d.predict(df_test)

In [23]:
tahmin

array([1., 0., 1., ..., 1., 1., 0.])

In [24]:
sonuc=df2[['PassengerId']]

In [25]:
sonuc['Transported']=tahmin

C:\Users\bilal\AppData\Local\Temp\ipykernel_19676\3292938045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sonuc['Transported']=tahmin

In [26]:
sonuc.head()

  PassengerId  Transported
0     0013_01          1.0
1     0018_01          0.0
2     0019_01          1.0
3     0021_01          1.0
4     0023_01          0.0

In [27]:
sonuc.to_csv('space ship.csv',index=False)