In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

In [3]:
df1=pd.read_csv('ttrain.csv')

In [3]:
df2=pd.read_csv('ttest.csv')

In [4]:
df=df1.append(df2)

C:\Users\bilal\AppData\Local\Temp\ipykernel_16548\2456558213.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2)

In [5]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df2

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
df.shape

(1309, 12)

In [8]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [10]:
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [11]:
df.Embarked.value_counts()

S    914
C    270
Q    123
Name: Embarked, dtype: int64

In [12]:
df.Embarked.value_counts(normalize=True)

S    0.699311
C    0.206580
Q    0.094109
Name: Embarked, dtype: float64

In [13]:
df['Title']=df['Name'].str.extract(' ([A-Za-z]+)\.',expand=False)
df['Title'].value_counts()

Mr          757
Miss        260
Mrs         197
Master       61
Rev           8
Dr            8
Col           4
Mlle          2
Major         2
Ms            2
Lady          1
Sir           1
Mme           1
Don           1
Capt          1
Countess      1
Jonkheer      1
Dona          1
Name: Title, dtype: int64

In [14]:
df['Title']=df['Title'].replace(['Ms','Mlle'],'Miss')
df['Title']=df['Title'].replace(['Mme','Countess','Lady','Dona'],'Mrs')
df['Title']=df['Title'].replace(['Dr','Major','Col','Sir','Rev','Jonkheer','Capt','Don'],'Mr')

In [15]:
df.groupby('Sex')['Age'].mean()

Sex
female    28.687088
male      30.585228
Name: Age, dtype: float64

In [16]:
df['Age'].fillna(df.groupby('Title')['Age'].transform('median'),inplace=True)
df.groupby('Title')['Age'].transform('median')

0      30.0
1      35.5
2      22.0
3      35.5
4      30.0
       ...
413    30.0
414    35.5
415    30.0
416    30.0
417     4.0
Name: Age, Length: 1309, dtype: float64

In [17]:
del df['Cabin']

In [18]:
df['Fare'].fillna(df['Fare'].mean(),inplace=True)

In [19]:
df['Family']=df['SibSp']+df['Parch']+1

In [20]:
df['Embarked'].fillna('s')

0      S
1      C
2      S
3      S
4      S
      ..
413    S
414    C
415    S
416    S
417    C
Name: Embarked, Length: 1309, dtype: object

In [21]:
df.drop(['PassengerId','Ticket'],axis=1,inplace=True)

In [22]:
df_dummies=pd.get_dummies(df,drop_first=True)

In [23]:
df_train=df_dummies[:891]
df_test=df_dummies[891:]

In [24]:
df_train.shape,df_test.shape

((891, 1319), (418, 1319))

In [25]:
del df_train['Survived']

In [26]:
y=df1['Survived']

In [27]:
x=df_train

In [28]:
model=Sequential()
model.add(Dense(12,kernel_initializer='uniform',activation='relu'))
model.add(Dense(8,kernel_initializer='uniform',activation='relu'))
model.add(Dense(1,kernel_initializer='uniform',activation='sigmoid')) # classification iÃ§in son satÄ±r bÃ¶yle olmalÄ±

In [29]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy']) # 2 cevapli classification iÃ§in binary_crossentropy
# 3 cevaplÄ± classifaction iÃ§in category_crossentropy

In [30]:
model.fit(x,y, epochs=150,batch_size=10,verbose=1)

Epoch 1/150
90/90 [==============================] - 0s 874us/step - loss: 0.6852 - accuracy: 0.6566
Epoch 2/150
90/90 [==============================] - 0s 840us/step - loss: 0.6487 - accuracy: 0.6801
Epoch 3/150
90/90 [==============================] - 0s 840us/step - loss: 0.5925 - accuracy: 0.6992
Epoch 4/150
90/90 [==============================] - 0s 829us/step - loss: 0.5595 - accuracy: 0.7127
Epoch 5/150
90/90 [==============================] - 0s 840us/step - loss: 0.5325 - accuracy: 0.7318
Epoch 6/150
90/90 [==============================] - 0s 852us/step - loss: 0.5087 - accuracy: 0.7486
Epoch 7/150
90/90 [==============================] - 0s 829us/step - loss: 0.4795 - accuracy: 0.8025
Epoch 8/150
90/90 [==============================] - 0s 840us/step - loss: 0.4583 - accuracy: 0.8081
Epoch 9/150
90/90 [==============================] - 0s 840us/step - loss: 0.4422 - accuracy: 0.7991
Epoch 10/150
90/90 [==============================] - 0s 829us/step - loss: 0.4295 - accuracy: 0.8013
Epoch 11/150
90/90 [==============================] - 0s 840us/step - loss: 0.4096 - accuracy: 0.8081
Epoch 12/150
90/90 [==============================] - 0s 818us/step - loss: 0.3980 - accuracy: 0.8070
Epoch 13/150
90/90 [==============================] - 0s 818us/step - loss: 0.3829 - accuracy: 0.8092
Epoch 14/150
90/90 [==============================] - 0s 840us/step - loss: 0.3772 - accuracy: 0.8137
Epoch 15/150
90/90 [==============================] - 0s 818us/step - loss: 0.3598 - accuracy: 0.8215
Epoch 16/150
90/90 [==============================] - 0s 829us/step - loss: 0.3525 - accuracy: 0.8227
Epoch 17/150
90/90 [==============================] - 0s 807us/step - loss: 0.3346 - accuracy: 0.8316
Epoch 18/150
90/90 [==============================] - 0s 829us/step - loss: 0.3238 - accuracy: 0.8361
Epoch 19/150
90/90 [==============================] - 0s 829us/step - loss: 0.3106 - accuracy: 0.8406
Epoch 20/150
90/90 [==============================] - 0s 829us/step - loss: 0.2990 - accuracy: 0.8462
Epoch 21/150
90/90 [==============================] - 0s 829us/step - loss: 0.2825 - accuracy: 0.8608
Epoch 22/150
90/90 [==============================] - 0s 829us/step - loss: 0.2535 - accuracy: 0.8900
Epoch 23/150
90/90 [==============================] - 0s 829us/step - loss: 0.2407 - accuracy: 0.8979
Epoch 24/150
90/90 [==============================] - 0s 840us/step - loss: 0.2061 - accuracy: 0.9125
Epoch 25/150
90/90 [==============================] - 0s 818us/step - loss: 0.1854 - accuracy: 0.9327
Epoch 26/150
90/90 [==============================] - 0s 852us/step - loss: 0.1974 - accuracy: 0.9237
Epoch 27/150
90/90 [==============================] - 0s 829us/step - loss: 0.1348 - accuracy: 0.9585
Epoch 28/150
90/90 [==============================] - 0s 829us/step - loss: 0.1233 - accuracy: 0.9776
Epoch 29/150
90/90 [==============================] - 0s 829us/step - loss: 0.1002 - accuracy: 0.9809
Epoch 30/150
90/90 [==============================] - 0s 840us/step - loss: 0.0887 - accuracy: 0.9854
Epoch 31/150
90/90 [==============================] - 0s 840us/step - loss: 0.0706 - accuracy: 0.9921
Epoch 32/150
90/90 [==============================] - 0s 885us/step - loss: 0.1084 - accuracy: 0.9719
Epoch 33/150
90/90 [==============================] - 0s 896us/step - loss: 0.1065 - accuracy: 0.9787
Epoch 34/150
90/90 [==============================] - 0s 896us/step - loss: 0.0444 - accuracy: 0.9966
Epoch 35/150
90/90 [==============================] - 0s 896us/step - loss: 0.0524 - accuracy: 0.9933
Epoch 36/150
90/90 [==============================] - 0s 863us/step - loss: 0.0375 - accuracy: 0.9966
Epoch 37/150
90/90 [==============================] - 0s 829us/step - loss: 0.0270 - accuracy: 0.9978
Epoch 38/150
90/90 [==============================] - 0s 829us/step - loss: 0.0270 - accuracy: 0.9966
Epoch 39/150
90/90 [==============================] - 0s 840us/step - loss: 0.0394 - accuracy: 0.9933
Epoch 40/150
90/90 [==============================] - 0s 829us/step - loss: 0.0164 - accuracy: 1.0000
Epoch 41/150
90/90 [==============================] - 0s 896us/step - loss: 0.0186 - accuracy: 0.9989
Epoch 42/150
90/90 [==============================] - 0s 874us/step - loss: 0.0153 - accuracy: 0.9989
Epoch 43/150
90/90 [==============================] - 0s 829us/step - loss: 0.0107 - accuracy: 1.0000
Epoch 44/150
90/90 [==============================] - 0s 852us/step - loss: 0.0119 - accuracy: 0.9989
Epoch 45/150
90/90 [==============================] - 0s 852us/step - loss: 0.0338 - accuracy: 0.9966
Epoch 46/150
90/90 [==============================] - 0s 840us/step - loss: 0.0071 - accuracy: 1.0000
Epoch 47/150
90/90 [==============================] - 0s 863us/step - loss: 0.0063 - accuracy: 1.0000
Epoch 48/150
90/90 [==============================] - 0s 896us/step - loss: 0.0056 - accuracy: 1.0000
Epoch 49/150
90/90 [==============================] - 0s 852us/step - loss: 0.0055 - accuracy: 1.0000
Epoch 50/150
90/90 [==============================] - 0s 840us/step - loss: 0.0046 - accuracy: 1.0000
Epoch 51/150
90/90 [==============================] - 0s 852us/step - loss: 0.0041 - accuracy: 1.0000
Epoch 52/150
90/90 [==============================] - 0s 874us/step - loss: 0.0038 - accuracy: 1.0000
Epoch 53/150
90/90 [==============================] - 0s 908us/step - loss: 0.0034 - accuracy: 1.0000
Epoch 54/150
90/90 [==============================] - 0s 818us/step - loss: 0.0031 - accuracy: 1.0000
Epoch 55/150
90/90 [==============================] - 0s 874us/step - loss: 0.0029 - accuracy: 1.0000
Epoch 56/150
90/90 [==============================] - 0s 829us/step - loss: 0.0027 - accuracy: 1.0000
Epoch 57/150
90/90 [==============================] - 0s 840us/step - loss: 0.0024 - accuracy: 1.0000
Epoch 58/150
90/90 [==============================] - 0s 818us/step - loss: 0.0023 - accuracy: 1.0000
Epoch 59/150
90/90 [==============================] - 0s 818us/step - loss: 0.0021 - accuracy: 1.0000
Epoch 60/150
90/90 [==============================] - 0s 829us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 61/150
90/90 [==============================] - 0s 840us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 62/150
90/90 [==============================] - 0s 829us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 63/150
90/90 [==============================] - 0s 818us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 64/150
90/90 [==============================] - 0s 807us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 65/150
90/90 [==============================] - 0s 807us/step - loss: 0.0014 - accuracy: 1.0000
Epoch 66/150
90/90 [==============================] - 0s 818us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 67/150
90/90 [==============================] - 0s 818us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 68/150
90/90 [==============================] - 0s 829us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 69/150
90/90 [==============================] - 0s 818us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 70/150
90/90 [==============================] - 0s 818us/step - loss: 0.0010 - accuracy: 1.0000
Epoch 71/150
90/90 [==============================] - 0s 829us/step - loss: 9.5122e-04 - accuracy: 1.0000
Epoch 72/150
90/90 [==============================] - 0s 840us/step - loss: 9.0411e-04 - accuracy: 1.0000
Epoch 73/150
90/90 [==============================] - 0s 824us/step - loss: 8.1558e-04 - accuracy: 1.0000
Epoch 74/150
90/90 [==============================] - 0s 852us/step - loss: 8.3923e-04 - accuracy: 1.0000
Epoch 75/150
90/90 [==============================] - 0s 829us/step - loss: 7.4139e-04 - accuracy: 1.0000
Epoch 76/150
90/90 [==============================] - 0s 818us/step - loss: 7.1878e-04 - accuracy: 1.0000
Epoch 77/150
90/90 [==============================] - 0s 829us/step - loss: 6.8370e-04 - accuracy: 1.0000
Epoch 78/150
90/90 [==============================] - 0s 829us/step - loss: 6.9064e-04 - accuracy: 1.0000
Epoch 79/150
90/90 [==============================] - 0s 829us/step - loss: 6.1909e-04 - accuracy: 1.0000
Epoch 80/150
90/90 [==============================] - 0s 818us/step - loss: 5.6296e-04 - accuracy: 1.0000
Epoch 81/150

90/90 [==============================] - 0s 829us/step - loss: 5.7970e-04 - accuracy: 1.0000
Epoch 82/150
90/90 [==============================] - 0s 818us/step - loss: 5.2300e-04 - accuracy: 1.0000
Epoch 83/150
90/90 [==============================] - 0s 807us/step - loss: 5.2781e-04 - accuracy: 1.0000
Epoch 84/150
90/90 [==============================] - 0s 818us/step - loss: 4.7038e-04 - accuracy: 1.0000
Epoch 85/150
90/90 [==============================] - 0s 807us/step - loss: 0.0621 - accuracy: 0.9854
Epoch 86/150
90/90 [==============================] - 0s 807us/step - loss: 0.0080 - accuracy: 0.9978
Epoch 87/150
90/90 [==============================] - 0s 818us/step - loss: 5.9000e-04 - accuracy: 1.0000
Epoch 88/150
90/90 [==============================] - 0s 807us/step - loss: 5.3121e-04 - accuracy: 1.0000
Epoch 89/150
90/90 [==============================] - 0s 840us/step - loss: 4.9909e-04 - accuracy: 1.0000
Epoch 90/150
90/90 [==============================] - 0s 885us/step - loss: 4.6678e-04 - accuracy: 1.0000
Epoch 91/150
90/90 [==============================] - 0s 885us/step - loss: 4.4357e-04 - accuracy: 1.0000
Epoch 92/150
90/90 [==============================] - 0s 840us/step - loss: 4.1998e-04 - accuracy: 1.0000
Epoch 93/150
90/90 [==============================] - 0s 807us/step - loss: 4.0308e-04 - accuracy: 1.0000
Epoch 94/150
90/90 [==============================] - 0s 896us/step - loss: 3.7965e-04 - accuracy: 1.0000
Epoch 95/150
90/90 [==============================] - 0s 896us/step - loss: 3.7348e-04 - accuracy: 1.0000
Epoch 96/150
90/90 [==============================] - 0s 852us/step - loss: 3.5727e-04 - accuracy: 1.0000
Epoch 97/150
90/90 [==============================] - 0s 818us/step - loss: 3.4505e-04 - accuracy: 1.0000
Epoch 98/150
90/90 [==============================] - 0s 829us/step - loss: 3.3348e-04 - accuracy: 1.0000
Epoch 99/150
90/90 [==============================] - 0s 829us/step - loss: 3.2426e-04 - accuracy: 1.0000
Epoch 100/150
90/90 [==============================] - 0s 829us/step - loss: 3.0680e-04 - accuracy: 1.0000
Epoch 101/150
90/90 [==============================] - 0s 829us/step - loss: 3.0686e-04 - accuracy: 1.0000
Epoch 102/150
90/90 [==============================] - 0s 807us/step - loss: 2.8418e-04 - accuracy: 1.0000
Epoch 103/150
90/90 [==============================] - 0s 829us/step - loss: 2.8058e-04 - accuracy: 1.0000
Epoch 104/150
90/90 [==============================] - 0s 829us/step - loss: 2.7325e-04 - accuracy: 1.0000
Epoch 105/150
90/90 [==============================] - 0s 818us/step - loss: 2.6753e-04 - accuracy: 1.0000
Epoch 106/150
90/90 [==============================] - 0s 818us/step - loss: 2.5673e-04 - accuracy: 1.0000
Epoch 107/150
90/90 [==============================] - 0s 818us/step - loss: 2.3903e-04 - accuracy: 1.0000
Epoch 108/150
90/90 [==============================] - 0s 818us/step - loss: 2.3531e-04 - accuracy: 1.0000
Epoch 109/150
90/90 [==============================] - 0s 818us/step - loss: 2.3329e-04 - accuracy: 1.0000
Epoch 110/150
90/90 [==============================] - 0s 863us/step - loss: 2.1949e-04 - accuracy: 1.0000
Epoch 111/150
90/90 [==============================] - 0s 896us/step - loss: 2.1493e-04 - accuracy: 1.0000
Epoch 112/150
90/90 [==============================] - 0s 874us/step - loss: 2.1270e-04 - accuracy: 1.0000
Epoch 113/150
90/90 [==============================] - 0s 829us/step - loss: 1.9136e-04 - accuracy: 1.0000
Epoch 114/150
90/90 [==============================] - 0s 818us/step - loss: 1.9875e-04 - accuracy: 1.0000
Epoch 115/150
90/90 [==============================] - 0s 807us/step - loss: 1.8756e-04 - accuracy: 1.0000
Epoch 116/150
90/90 [==============================] - 0s 829us/step - loss: 1.7748e-04 - accuracy: 1.0000
Epoch 117/150
90/90 [==============================] - 0s 829us/step - loss: 1.7871e-04 - accuracy: 1.0000
Epoch 118/150
90/90 [==============================] - 0s 807us/step - loss: 1.5870e-04 - accuracy: 1.0000
Epoch 119/150
90/90 [==============================] - 0s 818us/step - loss: 1.6636e-04 - accuracy: 1.0000
Epoch 120/150
90/90 [==============================] - 0s 863us/step - loss: 1.5738e-04 - accuracy: 1.0000
Epoch 121/150
90/90 [==============================] - 0s 840us/step - loss: 1.5403e-04 - accuracy: 1.0000
Epoch 122/150
90/90 [==============================] - 0s 829us/step - loss: 1.4508e-04 - accuracy: 1.0000
Epoch 123/150
90/90 [==============================] - 0s 964us/step - loss: 1.4413e-04 - accuracy: 1.0000
Epoch 124/150
90/90 [==============================] - 0s 908us/step - loss: 1.2804e-04 - accuracy: 1.0000
Epoch 125/150
90/90 [==============================] - 0s 941us/step - loss: 1.3242e-04 - accuracy: 1.0000
Epoch 126/150
90/90 [==============================] - 0s 964us/step - loss: 1.2543e-04 - accuracy: 1.0000
Epoch 127/150
90/90 [==============================] - 0s 863us/step - loss: 1.2131e-04 - accuracy: 1.0000
Epoch 128/150
90/90 [==============================] - 0s 885us/step - loss: 1.0759e-04 - accuracy: 1.0000
Epoch 129/150
90/90 [==============================] - 0s 896us/step - loss: 1.1925e-04 - accuracy: 1.0000
Epoch 130/150
90/90 [==============================] - 0s 919us/step - loss: 1.1116e-04 - accuracy: 1.0000
Epoch 131/150
90/90 [==============================] - 0s 885us/step - loss: 9.4410e-05 - accuracy: 1.0000
Epoch 132/150
90/90 [==============================] - 0s 874us/step - loss: 1.0211e-04 - accuracy: 1.0000
Epoch 133/150
90/90 [==============================] - 0s 874us/step - loss: 1.0242e-04 - accuracy: 1.0000
Epoch 134/150
90/90 [==============================] - 0s 863us/step - loss: 9.6645e-05 - accuracy: 1.0000
Epoch 135/150
90/90 [==============================] - 0s 874us/step - loss: 9.0685e-05 - accuracy: 1.0000
Epoch 136/150
90/90 [==============================] - 0s 829us/step - loss: 8.5986e-05 - accuracy: 1.0000
Epoch 137/150
90/90 [==============================] - 0s 885us/step - loss: 8.3949e-05 - accuracy: 1.0000
Epoch 138/150
90/90 [==============================] - 0s 829us/step - loss: 7.7290e-05 - accuracy: 1.0000
Epoch 139/150
90/90 [==============================] - 0s 818us/step - loss: 8.1467e-05 - accuracy: 1.0000
Epoch 140/150
90/90 [==============================] - 0s 818us/step - loss: 6.5371e-05 - accuracy: 1.0000
Epoch 141/150
90/90 [==============================] - 0s 818us/step - loss: 7.5240e-05 - accuracy: 1.0000
Epoch 142/150
90/90 [==============================] - 0s 818us/step - loss: 6.7706e-05 - accuracy: 1.0000
Epoch 143/150
90/90 [==============================] - 0s 818us/step - loss: 6.8577e-05 - accuracy: 1.0000
Epoch 144/150
90/90 [==============================] - 0s 807us/step - loss: 6.7440e-05 - accuracy: 1.0000
Epoch 145/150
90/90 [==============================] - 0s 829us/step - loss: 5.3149e-05 - accuracy: 1.0000
Epoch 146/150
90/90 [==============================] - 0s 818us/step - loss: 6.7631e-05 - accuracy: 1.0000
Epoch 147/150
90/90 [==============================] - 0s 818us/step - loss: 5.3541e-05 - accuracy: 1.0000
Epoch 148/150
90/90 [==============================] - 0s 807us/step - loss: 5.1477e-05 - accuracy: 1.0000
Epoch 149/150
90/90 [==============================] - 0s 818us/step - loss: 4.9102e-05 - accuracy: 1.0000
Epoch 150/150
90/90 [==============================] - 0s 818us/step - loss: 5.4744e-05 - accuracy: 1.0000

In [31]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                15828

 dense_1 (Dense)             (None, 8)                 104

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 15,941
Trainable params: 15,941
Non-trainable params: 0
_________________________________________________________________

In [32]:
scores=model.evaluate(x,y)

28/28 [==============================] - 0s 776us/step - loss: 3.9158e-05 - accuracy: 1.0000

In [33]:
del df_test['Survived']

In [34]:
a=model.predict(df_test)

14/14 [==============================] - 0s 690us/step

In [35]:
data=df2[['PassengerId']]

In [36]:
data['predict']=a

C:\Users\bilal\AppData\Local\Temp\ipykernel_16548\3252324646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['predict']=a

In [37]:
data['survived']=data['predict'].map(lambda x:1 if x>=0.5 else 0)

C:\Users\bilal\AppData\Local\Temp\ipykernel_16548\1180905684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['survived']=data['predict'].map(lambda x:1 if x>=0.5 else 0)

In [38]:
data

     PassengerId   predict  survived
0            892  0.000005         0
1            893  0.400150         0
2            894  0.010248         0
3            895  0.027406         0
4            896  0.736834         1
..           ...       ...       ...
413         1305  0.019277         0
414         1306  0.998432         1
415         1307  0.011679         0
416         1308  0.021927         0
417         1309  0.927831         1

[418 rows x 3 columns]

In [39]:
data.to_csv('sonuckeras.csv',index=False)